@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*
COLOR PALETTE

BLACK: #000000

WHITE: #FFFFFF
LIGHT: #FDF7F4

ORANGE: #FFD18C
DARK ORANGE: #FFA724
*/


html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #FDF7F4;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* ----------------- HEADER ----------------- */
header {
    background-color: #FFF;
}

header .container {
    display: flex;
    align-items: center;
    padding: .75em;
}

.logo {
    width: 11.5em;
}

hr {
    background-color: #FFD18C;
    height: 1.125rem;
    border: none;
    margin: 0;
}

/* ---------------- NAVIGATION ---------------- */
.open-burger,
.close-burger {
    width: 2.65em;
    cursor: pointer;
}

.open-burger {
    margin-left: auto;
}

.close-burger {
    display: block;
    margin-left: auto;
    padding: .75em 1em 0 0;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: #FFD18C;
    width: 65vw;
    height: 100vh;
    visibility: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 3em;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.35rem;
    padding: .5em 1em;
}

nav a:hover {
    background-color: #ffc164;
}

.active a {
    font-weight: bold;
    color: black;
}

.open-nav {
    visibility: unset;
}

/* ------------------ MAIN ------------------ */
main {
    background-color: #FDF7F4;
    padding-top: 1.35em;
}

/* ----------------- BUTTONS ---------------- */
.btn {
    width: 100%;
    background-color: #FFFFFF;
    border: 5px solid #FFA724;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.transaction-btn {
    margin-bottom: 1em;
    height: 4rem;
    border-radius: 3.125rem;
    font-size: 1.35rem;
}

.transaction-btn:hover,
.transaction-btn:focus,
.transaction-btn:active {
    background-color: #FFA724;
}

.info-btn {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
    padding: 1.5em;
    margin-bottom: .69em;
    border-radius: .65rem;
}

.info-btn:hover {
    background-color: #FFD18C;
}
