@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*
COLOR PALETTE

BLACK: #000000

WHITE: #FFFFFF
LIGHT: #FDF7F4

ORANGE: #FFD18C
DARK ORANGE: #FFA724
*/


html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #FDF7F4;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

/* ----------------- HEADER ----------------- */
header {
    background-color: #FFF;
    border-bottom: 1.125rem solid #FFD18C;
}

header .container:first-child {
    display: flex;
    align-items: center;
    padding: .75em;
}

.logo {
    width: 11.5em;
}

.logo,
.open-burger,
.close-burger {
    cursor: pointer;
}

/* ---------------- NAVIGATION ---------------- */
.open-burger,
.close-burger {
    width: 2.65em;
}

.open-burger {
    margin-left: auto;
}

.close-burger {
    display: block;
    margin: .75em 1em 0 auto;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: #FFD18C;
    width: 65vw;
    height: 100vh;
    visibility: hidden;
}

nav .container {
    width: 100%;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 3em;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.35rem;
    padding: .5em 1em;
}

nav li:not(.active) a:hover,
nav li:not(.active) a:focus,
nav li:not(.active) a:active {
    background-color: #ffc164;
}

.active a {
    font-weight: bold;
    color: black;
}

.open-nav {
    visibility: unset;
}

/* ------------------ MAIN ------------------ */
main {
    background-color: #FDF7F4;
    padding-top: 1.35em;
}

/* ----------------- BUTTONS ---------------- */
.btn {
    width: 100%;
    background-color: #FFFFFF;
    border: 5px solid #FFA724;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.transaction-btn {
    margin-bottom: 1em;
    height: 4rem;
    border-radius: 3.125rem;
    font-size: 1.35rem;
}

.transaction-btn:hover,
.transaction-btn:focus,
.transaction-btn:active {
    background-color: #FFA724;
}

.info-btn {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
    padding: 1.5em;
    margin-bottom: .69em;
    border-radius: .65rem;
}

.info-btn:hover,
.info-btn:focus,
.info-btn:active {
    background-color: #FFD18C;
}

/* ---------------- SPENDINGS --------------- */
.spendingBar {
    display: flex;
    justify-content: space-between;
    background-color: #FFD18C;
    border-radius: 15px;
    padding: .5em 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

/* --------------- MEDIA QUERIES -------------- */
@media (min-width: 480px) {

    header .container:first-child {
        padding: 1.5em;
    }

    .logo {
        width: 13.3125em;
    }

    .open-burger,
    .close-burger {
        width: 3.25em;
    }

    .close-burger {
        margin: 1.5em 1.5em 0 auto;
    }

    nav a {
        padding-left: 1.5em;
        font-size: 1.4rem;
    }

    .btn-container {
        display: flex;
        gap: .98em;
    }

    h2 {
        font-size: 1.65rem;
    }

    .transaction-btn {
        font-size: 1.35rem;
    }

    .info-btn {
        font-size: 1.175rem;
    }

}

@media (min-width: 660px) {
    
    header .container:first-child {
        padding: 1.5em;
    }
    
    .logo {
        width: 16.3125em;
    }

    .open-burger,
    .close-burger {
        width: 3.75em;
    }

    .close-burger {
        margin: 1.65em 1.85em 0 auto;
    }

    nav a {
        padding-left: 2em;
        font-size: 1.5rem;
    }

    .btn-container {
        display: flex;
        gap: .98em;
    }

    h2 {
        font-size: 1.85rem;
    }

    .transaction-btn {
        font-size: 1.55rem;
    }

    .info-btn {
        font-size: 1.35rem;
    }

}

@media (min-width: 800px) {

    header {
        border: none;
    }

    header .container:first-child {
        justify-content: center;
        padding: 2.44em 0;
    }

    .logo {
        width: 23.3125em;
    }

    .open-burger,
    .close-burger {
        display: none
    }

    nav {
        height: auto;
        width: auto;
        position: initial;
        visibility: unset;
        padding: 1.12em 0;
    }

    nav .container {
        width: 90%;
    }

    nav ul {
        display: flex;
        margin: 0;
    }

    nav li:not(:last-child) {
        margin-right: auto;
    }

    nav a {
        font-size: 1.5625rem;
        padding: 0;
    }

    nav li:not(.active) a:hover,
    nav li:not(.active) a:focus,
    nav li:not(.active) a:active {
        text-decoration: underline;
        background-color: initial;
    }

    main {
        padding: 2.06em 0 5.56em;
    }

    h2 {
        font-size: 2.5rem;
    }

    .transaction-btn {
        font-size: 1.875rem;
    }

    .info-btn {
        font-size: 1.5625rem;
    }
}
